<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XCodeTutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>594177301F41890700AD7FDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>594177441F41890800AD7FDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5941774F1F41890800AD7FDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
